
#features{
    .bg{
        &-deep-purple{
            background-color: #7e57c2;
        }
        &-purple{
            background-color: #ab47bc;
        }
        &-teal{
            background-color: #26a69a;
        }
        &-light-blue{
            background-color: #29b6f6;
        }
    }
}