#pricing {
    .card-image{
        background: no-repeat center center;
        // height: 40rem;

    }
    .pricing-card{
        width:100%;
        margin: 0;
        padding: 0;
        height: 100%;
    }
}