#projects{
    .text-deep-purple{
        color: #7e57c2;
    }
    .text-indigo{
        color:#3f51b5;
    }
    .text-pink{
        color:#e91e63;
    }
    .text-blue{
        color:#2196f3;
    }
}